<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.junit.launchconfig">
    <listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
        <listEntry value="/nfRegistration"/>
    </listAttribute>
    <listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
        <listEntry value="4"/>
    </listAttribute>
    <mapAttribute key="org.eclipse.debug.core.environmentVariables">
        <mapEntry key="HOOK_CONFIG_KEY" value="user-service"/>
        <mapEntry key="HOOK_TYPE" value="post-upgrade"/>
        <mapEntry key="HOOK_VERSION" value="1.7"/>
        <mapEntry key="MYSQL_DATABASE" value="nrfdb"/>
        <mapEntry key="MYSQL_HOST" value="localhost"/>
        <mapEntry key="MYSQL_PASSWORD" value="password"/>
        <mapEntry key="MYSQL_PORT" value="3306"/>
        <mapEntry key="MYSQL_RELEASE_DATABASE" value="nrfdb"/>
        <mapEntry key="MYSQL_USERNAME" value="root"/>
        <mapEntry key="NF_INSTANCE_ID" value="site1"/>
    </mapAttribute>
    <stringAttribute key="org.eclipse.jdt.junit.CONTAINER" value="=nfRegistration"/>
    <booleanAttribute key="org.eclipse.jdt.junit.KEEPRUNNING_ATTR" value="false"/>
    <stringAttribute key="org.eclipse.jdt.junit.TESTNAME" value=""/>
    <stringAttribute key="org.eclipse.jdt.junit.TEST_KIND" value="org.eclipse.jdt.junit.loader.junit5"/>
    <booleanAttribute key="org.eclipse.jdt.launching.ATTR_USE_CLASSPATH_ONLY_JAR" value="false"/>
    <stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value=""/>
    <stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="nfRegistration"/>
    <stringAttribute key="org.eclipse.jdt.launching.VM_ARGUMENTS" value="-ea"/>
</launchConfiguration>
